html{
    font-family:'Times New Roman';
    color: rgb(189, 148, 228);
}

.navbar {
    background-color: rgb(199, 161, 235);
    display: flex;
    justify-content: center;


}

.nav-links{
    list-style: none;
    display: flex;
    gap:5em;
}

.nav-links li a { 
text-decoration: none;
color: rgb(247, 249, 250);
padding: 0.5em 1em;
border-radius: 0.5em;
transition:0.2s; 
}

.nav-links li a:hover {
    background-color: bisque;
}

.title {
    text-align: center;
    padding: 1em;
}

.current{
     text-decoration: underline dotted rgb(247, 249, 250) 0.3em;
}
body{
    background-color: rgb(175, 236, 247);
    margin: 0;
}
p {
    font-size: 1rem;
}
.brown {
    font-weight: 900;
   color:brown; 
}
#header {
    background-image: url("https://th.bing.com/th/id/R.5c782295099ec3d1ffcab74bca6bd126?rik=DfaI30CejYM2KA&pid=ImgRaw&r=0" );
    background-size: cover;
    height: 50%;
    color: rgba(255, 0, 255, 0.582);
    font-size: 2rem;
    border-radius: 0 0 1.2em 1.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.accordion-header {
    width: 100%;
    background-color: rgb(4, 238, 247);
    border:none; 
    padding:1em; 
    text-align: left;
    font-size:1.1rem;
    color: aliceblue;
    cursor: pointer;
    transition: 0.8s;
}

.accordion-header:hover {
    background-color: antiquewhite;
}

.accordion-content {
    display: none;
}

.blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 2%;
    margin-bottom: 2em;
}

.blog-entry img {
    width: 40%;
    border-radius: 0 1.5em 1.5em 0;
}

.hidden {
    display: none;
}

#enter-password {
    text-align: center;
}

#enter-password input  {
    font-size: 1.5rem;
    border-radius: 0.5em;
    border: 0;
    padding: 0.2em;
    width: 40%;
    background-color: rgb(242, 172, 22);
}

#enter-password button {
    font-size: 1.3rem;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 7%;
    border: 0;
    background-color: rgb(158, 98, 7);
    color: white;
}

#password-field {
    display: flex;
    justify-content: center;
    gap: 1em;
}