html{
    font-family:'Times New Roman';
    color: rgb(189, 148, 228);
}
body{
    background-color: rgb(175, 236, 247);
    margin: 0;
}
p {
    font-size: 1rem;
}
.brown {
    font-weight: 900;
   color:brown; 
}
#header {
    background-image: url("https://th.bing.com/th/id/R.5c782295099ec3d1ffcab74bca6bd126?rik=DfaI30CejYM2KA&pid=ImgRaw&r=0" );
    background-size: cover;
    height: 50%;
    color: rgba(255, 0, 255, 0.582);
    font-size: 2rem;
    border-radius: 0 0 1.2em 1.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}